.answerOption li {
  list-style-type: none;
  background: #333;
  margin: 10px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.answerOption li:hover {
  background-color: #187818;
}

.answerOption {
  padding: 0;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". .";
}
