html {
    background-color: #feffc7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }