.headerText {
  margin-bottom: 25px;
}

.startButton {
  margin-top: 25px;
  padding: 10px;
  font-size: 32px;
  border: 0;
  background-color: #f1f1f1;
  color: black;
}

.startButton:hover {
  background-color: #d3d3d3;
  padding: 9px;
  text-decoration: none;
}

.startButton:link {
  text-decoration: none;
}

.startButton:visited {
  text-decoration: none;
}

.startButton:active {
  text-decoration: none;
}

.citySelectionDropdown {
  font-size: 32px;
  padding: 15px;
  border: 0;
}
